<!DOCTYPE html>
<html>
<head>
  <title>Airsoft</title>
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="chat.css" />
  <link rel="stylesheet" href="index.css" />

</head>
<body>

  <header></header>

  <nav>
    <div>
      <a href="/">Welcome</a>
      <a href="/chat">Chat</a>
    </div>
  </nav>
