
<% include layout_head.ejs %>

<main class="page-index">

  <h1> Welcome! </h1>
  <p>
    Välkommen till Airsoft hökarnas officiella hemsida!<br> Vi spelar nästan varje söndag och skulle gärna utmana andra lag. Vi är runt 9 personer i vårat lag. Om ni har några frågor kan ni skriva dem i våran chat!
  </p>

</main>

<% include layout_foot.ejs %>
