
<% include layout_head.ejs %>

<main class="page-index">

  <% include part_attendance.ejs %>

  <h1 class="oleo"> Välkommen! </h1>

  <p class="oleo">
    Välkommen till Airsoft hökarnas officiella hemsida!
  </p>

  <p>
    Vi spelar nästan varje söndag och skulle gärna utmana andra lag. Vi är runt
    9 personer i laget. Om ni har några frågor kan ni skriva dem i vår chat!
  </p>

  <div class="holder">
    <div class="slider">
      <div id=slide>
        <img src="slideshow/1.jpg">
        <img src="slideshow/2.jpg">
        <img src="slideshow/3.jpg">
        <img src="slideshow/4.jpg">
        <img src="slideshow/1.jpg">
      </div>
    </div>
  </div>

</main>

<% include layout_js.ejs %>

<script type="text/javascript">
  airsoft.initAttendance();
</script>

<% include layout_foot.ejs %>
