<% include layout_head.ejs %>

<main class="page-spelare">

  <% include part_attendance.ejs %>

  <h1 class="oleo">Spelare</h1>

  <p class="oleo">
    Håll musen över spelarna för att visa extra info.
  </p>

  <div class="row">

    <img src="/spelare/jakob.jpg" alt="Jakob" />
    <img src="/spelare/markus.jpg" alt="Markus" />
    <img src="/spelare/hans.jpg" alt="Hans" />

    <table>
      <tr>
        <td>Namn</td>
        <td>Jakob</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>1911 gas</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Markus</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>M4</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>None</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Hans</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>Famas</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>Co2 pistol</td>
      </tr>
    </table>

  </div>

  <div class="row">

    <img src="/spelare/500x500.gif" />
    <img src="/spelare/500x500.gif" />
    <img src="/spelare/500x500.gif" />

    <table>
      <tr>
        <td>Namn</td>
        <td>Anton</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>M4</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>XDM gas</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Albin</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>M4</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>M9 fjäder</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Carl-Johan</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>G18 gas</td>
      </tr>
    </table>

  </div>

  <div class="row">

    <img src="/spelare/500x500.gif" />
    <img src="/spelare/500x500.gif" />
    <img src="/spelare/500x500.gif" />

    <table>
      <tr>
        <td>Namn</td>
        <td>Anton</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>M4</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>XDM gas</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Albin</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>M4</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>M9 fjäder</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Namn</td>
        <td>Carl-Johan</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Primary</td>
        <td>None</td>
      </tr>
      <tr>
        <td>Secondary</td>
        <td>G18 gas</td>
      </tr>
    </table>

  </div>

</main>


<% include layout_js.ejs %>

<script type="text/javascript">
airsoft.initAttendance();
</script>

<% include layout_foot.ejs %>
