
<% include layout_head.ejs %>

<main class="page-chat">

  <div class="namebox">
    <form class="nameform" action="">
      <h1>Your name<h1>
      <input class="nameinput" id="name" placeholder="Your name:" />
      <button class="namebotton">OK</button>
    </form>
  </div>

  <div class="chat" style="display: none;">
    <div id="messages">
      <table></table>
    </div>
    <form action="">
      <input id="m" autocomplete="off" placeholder="Message:" />
      <button>Send</button>
    </form>
  </div>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>

  var name;
  var socket = io();
  var $msg = $('#messages');
  var $msgTable = $('#messages table');

  $('.namebox form').submit(function () {
    name = $('#name').val();
    $('.namebox').hide();
    $('.chat').show();
    $msg.scrollTop($msg.prop('scrollHeight'));
    return false;
  });

  $('.chat form').submit(function(){
    socket.emit('chat message', {
      name: name,
      text: $('#m').val()
    });
    $('#m').val('');
    return false;
  });

  socket.on('chat log', function(messages){
    messages.forEach(function (msg) {
      $msgTable.append('<tr><td>' + msg.name + '</td><td>' + msg.text + '</td></tr>');
    });
    $msg.scrollTop($msg.prop('scrollHeight'));
  });

  socket.on('chat message', function(msg){
    $msgTable.append('<tr><td>' + msg.name + '</td><td>' + msg.text + '</td></tr>');
    $msg.scrollTop($msg.prop('scrollHeight'));
  });


</script>

<% include layout_foot.ejs %>
