
<% include layout_head.ejs %>

<main class="page-index">

  <% include part_attendance.ejs %>

  <h1 class="start"> Välkommen! </h1>
  <p>
    Välkommen till Airsoft hökarnas officiella hemsida!
  </p>
  <p>
    Vi spelar nästan varje söndag och skulle gärna utmana andra lag. Vi är runt
    9 personer i laget. Om ni har några frågor kan ni skriva dem i vår chat!
  </p>

  <div class="slider">
    <div>
      <img id="1" src="slideshow/1.gif">
      <img id="2" src="slideshow/2.gif">
    </div>
  </div>

</main>

<% include layout_js.ejs %>

<script type="text/javascript">
  airsoft.initAttendance();
</script>

<% include layout_foot.ejs %>
