<% include layout_head.ejs %>

<main class="page-spelare">

  <% include part_attendance.ejs %>

  <img src="/spelare/jakob.jpg">
  <img src="/spelare/markus.jpg">
  <img src="/spelare/hans.jpg">

  <div class="boxanswers">
    <table>
      <tr>
        <td>Namn</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
      </tr>
      <tr>
        <td>Primary</td>
      </tr>
      <tr>
        <td>Secondary</td>
      </tr>
    </table>

  <div>
  </div>

    <table class="answer">
      <tr>
        <td>Jakob</td>
      </tr>
      <tr>
        <td>None</td>
      </tr>
      <tr>
        <td>None</td>
      </tr>
      <tr>
        <td>1911 gas</td>
      </tr>
    </table>

  </div>

  <div class="boxanswers">

    <table>
      <tr>
        <td>Namn</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
      </tr>
      <tr>
        <td>Primary</td>
      </tr>
      <tr>
        <td>Secondary</td>
      </tr>
    </table>

    <div>
    </div>

    <table class="answer">
      <tr>
        <td>Markus</td>
      </tr>
      <tr>
        <td>None</td>
      </tr>
      <tr>
        <td>M4</td>
      </tr>
      <tr>
        <td>None</td>
      </tr>
    </table>

  </div>

  <div class="boxanswers">

    <table>
      <tr>
        <td>Namn</td>
      </tr>
      <tr>
        <td>Spelnamn</td>
      </tr>
      <tr>
        <td>Primary</td>
      </tr>
      <tr>
        <td>Secondary</td>
      </tr>
    </table>

    <div>
    </div>

    <table class="answer">
      <tr>
        <td>Hans</td>
      </tr>
      <tr>
        <td>None</td>
      </tr>
      <tr>
        <td>Famas</td>
      </tr>
      <tr>
        <td>Co2 pistol</td>
      </tr>
    </table>

  </div>

  <div id="fix"></div>


</main>


<% include layout_js.ejs %>

<script type="text/javascript">
airsoft.initAttendance();
</script>

<% include layout_foot.ejs %>
