
<aside>
  <h1 class="white">Kan komma!</h1>
  <ul>
    <li>
      <input type="checkbox" name="jakob">
      <label>Jakob</label>
    </li>
    <li>
      <input type="checkbox" name="markus">
      <label>Markus</label>
    </li>
    <li>
      <input type="checkbox" name="hans">
      <label>Hans</label>
    </li>
    <li>
      <input type="checkbox" name="anton">
      <label>Anton</label>
    </li>
    <li>
      <input type="checkbox" name="albin">
      <label>Albin</label>
    </li>
    <li>
      <input type="checkbox" name="calle">
      <label>Calle</label>
    </li>
    <li>
      <input type="checkbox" name="mikael">
      <label>Mikael</label>
    </li>
    <li>
      <input type="checkbox" name="axel">
      <label>Axel</label>
    </li>
    <li>
      <input type="checkbox" name="erika">
      <label>Erik A</label>
    </li>
    <li>
      <input type="checkbox" name="kevin">
      <label>Kevin</label>
    </li>
    <li>
      <input type="checkbox" name="erikh">
      <label>Erik H</label>
    </li>
  </ul>
</aside>
