
.page-chat {
  position: absolute;
  top: 350px;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  border: solid;
  border-top: 0px;
}

.page-chat .chat {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 960px;
  background: white;
}

.page-chat form {
  height: 40px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 3px solid black;
  width:
}

.page-chat form input {
  border: 0;
  padding: 10px;
  width: 850px;
  float: left;
}

.page-chat form button {
  width: 90px;
  height: 40px;
  background: rgb(130, 224, 255);
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-left: 3px solid black;
}

.page-chat #messages {
  position: absolute;
  top: 0;
  bottom: 42px;
  left: 0;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-chat #messages li {
  padding: 5px 10px;
}

.page-chat #messages li:nth-child(odd) {
  background: #eee;
}
