
.page-index p {
  margin: 10px 20px;
}

.slider {
  position: relative;
  width: 960px;
  height: 540px;
  overflow: hidden;
  margin: 30px auto;
}

.slider .images {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: left 320ms;
}

.slider img {
  margin: 0;
  height: 540px;
  float: left;
  z-index: 100;
}

.slider a {
  box-shadow: 1px 1px 40px 0px rgba(50, 50, 50, 0.7);
  position: absolute;
  z-index: 500;
  top: 230px;
  widht: 0;
  height: 0;
  border-style: solid;
}

.slider a:nth-of-type(1) {
  left: 20px;
  border-width: 40px 25px 40px 0;
  border-color: transparent rgba(255, 255, 255, .2) transparent transparent;

}
.slider a:nth-of-type(2) {
  right: 20px;
  border-width: 40px 0 40px 25px;
  border-color: transparent transparent transparent rgba(255, 255, 255, .2);
}

.slider a:hover { border-color: transparent rgba(255, 255, 255, .4) transparent transparent; }
.slider a:hover:nth-of-type(2) { border-color: transparent transparent transparent rgba(255, 255, 255, .4); }


.slider .dots {
  z-index: 500;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
}

.slider .dots div {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 100%;
  display: inline-block;
  margin: 0 8px 10px;
  -webkit-transition: background-color 320ms;
}

.slider .dots .active {
  background-color: rgba(255, 255, 255, .8);
}

div.foot {
  width: 960px;
  height: 40px;
}
