
h1.white {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.5);

}

h1.oleo {
  font-size: 100px;
  font-family: 'Oleo Script', Helvetica, sans-serif;
  text-align: center;
  padding-topp: 48px;
  margin: 0px;
}

p.oleo {
  font-size: 20px;
  font-family: 'Oleo Script', Helvetica, sans-serif;
  text-align: center;
  margin-top: 0;
  padding-topp: 0;
}
